<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hasuraactionext.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8cee6280-3823-48cf-9cc5-3717f7d27c3f/resourcegroups/Hasura/providers/Microsoft.Web/sites/HasuraActionExt</ResourceId>
    <UserName>$HasuraActionExt</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://hasuraactionext.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>